.storybook .text-h1 {
  font-size: 2.488rem !important;
  line-height: 2.86rem !important;
  font-weight: 400 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.storybook .text-h2 {
  font-size: 2.074rem !important;
  line-height: 2.29rem !important;
  font-weight: 400 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.storybook .text-h3 {
  font-size: 1.728rem !important;
  line-height: 2.29rem !important;
  font-weight: 400 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.storybook .text-h4 {
  font-size: 1.44rem !important;
  line-height: 1.71rem !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.storybook .text-h5 {
  font-size: 1.2rem !important;
  line-height: 1.71rem !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.storybook .text-h6 {
  font-size: 1rem !important;
  line-height: 1.14rem !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.storybook .text-body-1 {
  font-size: 1rem !important;
  line-height: 1.14rem !important;
  font-weight: normal !important;
  font-family: 'Open Sans', normal !important;
}